<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Streamer Recorder</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Streamer Recorder</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="form" class="card p-4 shadow">
                <div class="mb-3">
                    <label for="platform" class="form-label">플랫폼</label>
                    <select id="platform" name="platform" class="form-select">
                        <option value="CHZZK">CHZZK</option>
                        <option value="SOOP">SOOP</option>
                        <option value="TWITCASTING">TWITCASTING</option>
                        <!-- <option value="YOUTUBE">YOUTUBE</option> -->
                        <option value="TWITCH">TWITCH</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="account_id" class="form-label">AccountId</label>
                    <input id="account_id" type="text" name="account_id" class="form-control" placeholder="AccountId">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label">userName</label>
                    <input id="user_name" type="text" name="user_name" class="form-control" placeholder="userName">
                </div>
                <button type="submit" class="btn btn-primary w-100">저장</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">플랫폼</th>
            <th scope="col">Id</th>
            <th scope="col">스트리머명</th>
            <th scope="col">녹화 상태</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="streamerList" type="java.util.List"*/-->
        <tr th:each="streamer : ${streamerList}">
            <td th:text="${streamer.platform}"></td>
            <td th:text="${streamer.accountId}"></td>
            <td th:text="${streamer.userName}"></td>
            <td th:if="${streamer.status == true}" th:text="녹화중"></td>
            <td th:if="${streamer.status == false}" th:text="정지"></td>
            <td>
                <button id="delete_button" type="button" th:onclick="onClickDelete([[${streamer.platform}]], [[${streamer.accountId}]], [[${streamer.userName}]])" class="btn btn-danger btn-sm">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const payload = new FormData(form);

        const body = {
            platform: payload.get("platform"),
            account_id: payload.get("account_id"),
            user_name: payload.get("user_name")
        }

        fetch(window.location.origin + '/streamer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body),
        })
            .then(res => res.json())
            .then(async (data) => {
                // console.log(data)
                await window.alert(data.message);
                if (data.code === "OK") {
                    window.location.reload();
                }
            });
    });

    function onClickDelete(platform, account_id, user_name) {
        const body = {
            platform: platform,
            account_id: account_id,
            user_name: user_name
        }

        fetch(window.location.origin + '/streamer', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body),
        })
            .then(res => res.json())
            .then(async (data) => {
                // console.log(data)
                await window.alert(data.message);
                if (data.code === "OK") {
                    window.location.reload();
                }
            });
    }
</script>
</body>
</html>
